table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
    background-color: whitesmoke;
    margin: auto;
}

table {
    width: 90%;
    margin: auto;
}

th {
    padding: 2%;
}

td {
    padding: 1%;
    text-align: center;
}

img {
    border-radius: 5%;
}


.sites {
    margin: 0.5em;
    border-radius: 1%;
}

body {
    background-color: darkkhaki;
    font-size: 1.5em;
}

h1 {
    font-size: 6vw;
    letter-spacing: 20%;
    color: honeydew;
}

h2 {
    text-align: center;
}

p {
    text-align: center;

}

.Pic {
    border-radius: 100%;
}

@media (min-width:960px){
    .Pic {
        margin-top: 20%;
        margin-left: 10%;
        width: 70%;
    }
    .PicCity {
        width: 50%;
    }
    .cityImage {
       margin-right: 20%;
    }
    .castleImage {
        margin-right: 20%;
    }
    .sixImage {
        margin-right: 20%;
    }
}
@media (max-width:959px) {
    h1 {
        font-size: 10vw;
        text-align: center;
    }
    .Pic {
        width: 70%;
        margin-left: 20%;
    }
    .PicCity {
        width: 100%;
    }
    .cityImage {
        width: 90%;
    }
    .castleImage {
        width: 90%;
    }
    .sixImage {
        width: 90%;
    }

}